<ion-content [fullscreen]="true">
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="success">Reciclica</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input label="E-mail" labelPlacement="floating"  type="email" placeholder="Votre E-mail"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Mot de passe" labelPlacement="floating"  type="password" placeholder="Votre mot de passe"></ion-input>
          </ion-item>
          
        </ion-list>
        <ion-button color="dark" fill="clear" size="full">Forget email/password</ion-button>
          
        <ion-button color="success"  size="full">Se connecter</ion-button>
        <ion-button color="success" fill="clear" size="full">S'inscrire</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
