<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>S'inscrire</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">register</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>What do you want to do with the recyclable waste?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-radio-group>
        
        <ion-item>
          <ion-label>I want to BUY it</ion-label>
          <ion-radio value="Client" slot="start"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>I want to SELL it</ion-label>
          <ion-radio value="Partener" slot="start"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Contact</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input label="Name" labelPlacement="floating"  type="text" placeholder="Votre Nom"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="E-mail" labelPlacement="floating"  type="email" placeholder="Votre E-mail"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Mot de passe" labelPlacement="floating"  type="password" placeholder="Votre mot de passe"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Confirmer mot de passe" labelPlacement="floating"  type="password" placeholder="confirer votre mot de passe"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Téléphone" labelPlacement="floating"  type="tel" placeholder="Votre numéro de tél"></ion-input>
        </ion-item>
        
      </ion-list>
      
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Adresse Informations</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input label="Adresse" labelPlacement="floating"  type="text" placeholder="Votre adressse"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Number" labelPlacement="floating"  type="tel" placeholder="Votre adressse"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Neighborhood" labelPlacement="floating"  type="text" placeholder="Votre adressse"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Complement" labelPlacement="floating"  type="text" placeholder="Votre adressse"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Zip code" labelPlacement="floating"  type="tel" placeholder="Votre adressse"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="State" labelPlacement="floating"  type="text" placeholder="Votre adressse"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="City" labelPlacement="floating"  type="text" placeholder="Votre adressse"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button color="success"  size="full">S'inscrire</ion-button>
</ion-content>
