
<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" slot="end"></ion-menu-button>
    </ion-buttons>
    <ion-title>Reclicla</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="success">
      <ion-title size="large">Reciclica</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list color="success">
    <ion-item color="success">
      <ion-avatar slot="start">
        <img src="./assets/img/diallo.png" alt="">
      </ion-avatar>
      <ion-label>
        <h1>Ismaila Diallo</h1>
        <p>Gathered: <span class="money">$ 15,00</span></p>
      </ion-label>
    </ion-item>
  </ion-list>
  <app-pickup-call-card status="Hold" 
    updateAt="21/04/2023" createAt="20/04/2023" 
    notes="we have two bags that are full, one with plastic and the other with glasses" 
    [hasFooter]="true" [hasHeader]="true">
  </app-pickup-call-card>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
